---
# file: roles/docker-dna_galera/tasks/install_galera.yml

- name: Obtain Percona public key
  apt_key: url=http://keys.gnupg.net/pks/lookup?op=get&search=0x1C4CBDCDCD2EFD2A
           state=present

- name: Add Percona repository
  apt_repository: repo='deb http://repo.percona.com/apt precise main'
                  state=present

- name: Add Percona source repository
  apt_repository: repo='deb-src http://repo.percona.com/apt precise main'
                  state=present

- name: Update apt cache
  apt: update_cache=yes

- name: Install Percona XtraDB Cluster server
  apt: pkg={{ item }} 
       state=present
  with_items:
    - percona-xtradb-cluster-server-5.6

- name: Configure Percona XtraDB Cluster server
  template: src=my.cnf.j2
            dest=/etc/mysql/my.cnf

- name: Restart MySQL 
  action: service name=mysql state=restarted

- name: Add Docker database user 
  mysql_user: user="docker" host="172.17.%" password="docker" priv=*.*:"all privileges"
